$btnBgColor: #FDB827;
$btnBgColorLight: rgba(255, 255, 255, 0.13);
$bgColorLight: #212121;
$dark: #000000;
$white: #ffffff;
$lightGray: #999;
$primaryColor: #CE93D8;
$textColorLight: rgba(255, 255, 255, 0.45);
$cardBgColor: rgba(255, 255, 255, 0.1);
$filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$headerBg: linear-gradient(179.71deg, rgba(255, 255, 255, 0.208) -100%, rgba(255, 255, 255, 0.0208) 100%);
$shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
$border: 1px solid rgba(255, 255, 255, 0.35);
$timeColor: rgba(255, 255, 255, 0.57);