<ng-container>
    <footer class="footer">
        <section class="footer-container">
            <span class="footer-text">
                Copyright © {{date |date:'yyyy'}} All rights reserved.
            </span>
            <span class="footer-icon">
                <i class="pi pi-github"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-facebook"></i>
            </span>
            <span class="footer-text">Source code available</span>
        </section>
    </footer>

</ng-container>